.class-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed; /* Fix the header at the top */
  top: 0; /* Position it at the top of the page */
  left: 0; /* Ensure it stays at the left */
  width: 100%; /* Make it span the full width */
  z-index: 10; /* Ensure it stays on top of other content */
  background-color: #fff;
}

body {
  margin-top: 70px; /* Add margin to body to prevent content from being hidden under the fixed header */
}

.logo-container {
  display: flex;
  align-items: center; /* Center logo vertically */
}

.logo {
  height: 80px; /* Adjust the logo size */
  width: auto; /* Maintain aspect ratio */
}

.logo-container .logo {
  padding-top:0px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Allow the search container to grow and push other elements to the sides */
}

.search-box {
  padding: 8px 12px;
  font-size: 16px;
  width: 400px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button {
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: auto;
  font-size: medium;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.upload-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-modal h2 {
  margin: 0;
}

.upload-modal input,
.upload-modal textarea,
.upload-modal button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.upload-modal button {
  background-color: #392759;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

.upload-modal button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.copy-icon svg {
  font-size: 24px;
  cursor: pointer;
}

.upload-icon svg {
  font-size: 24px;
  cursor: pointer;
}

[data-theme="dark"] main, [data-theme="dark"] .class-header {
  transition: 0.3s;
  background-color: #000000
}

[data-theme="dark"] .class-header svg {
  fill: #fff;
  stroke: #fff;
}

[data-theme="dark"] .search-box {
  background: rgba(85, 85, 85, 10);
  color: #fff;
}

.class-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  gap: 30px;
}

.class-controls button {
  width: auto;
}

@media screen and (max-width: 1080px){
  .search-box {
    width: 280px;
  }
}

@media screen and (max-width: 767px){
  .class-header {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .search-container {
    order: 3;
  }
  .class-controls {
    order: 2;
  }
}