h1{
  font-family: 'PT Serif', sans-serif !important;  
}

.classes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 200px;
  padding: 16px;
  width: 100%;
  max-width: 1200px; /* Add this to control maximum width */
  margin: 0 auto; /* Center the grid */
}

.home-container .class-card {
  background-color: #d5dc11;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px #0000001a;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  font-family: 'PT Serif', sans-serif !important; 
  font-weight: 400;
}

.home-container .class-card h2, .home-container .class-card p {
  font-family: 'PT Serif', sans-serif !important; 
}


.class-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #a826aa;
}

.class-card h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.class-card p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

/* Update your home-container to allow full width */
.home-container {
  max-height: calc(100vh - 25px); 
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin-top: 120px;
  text-align: center;
  background-color: #f7f7f7;
}