/* VideoDetails.css */

.video-details {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
 }
 
 .video-details h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    width: 100%;
 }
 
 .video-left {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 
 .video-container {
    width: 100%;
    max-width: 720px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 20px;
 }
 
 .video-details video {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
 }
 
 .video-left .video-title {
    font-size: 1.8rem;
    color: #333;
    margin-top: 15px;
 }
 
 .video-left .video-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
 }

 .video-description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
    position: sticky;
    top: 0;
    background: #f9f9f9;
    padding: 10px 0;
 }
 
 .video-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
 }
 
 .video-right {
    flex: 1;
    max-width: 400px;
    height: 80vh;
    padding-left: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
 }
 
 .video-right::-webkit-scrollbar {
    width: 8px;
 }
 
 .video-right::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
 }
 
 .video-right::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
 }
 
 .video-right::-webkit-scrollbar-thumb:hover {
    background: #555;
 }
 
 .video-summary {
    width: 100%;
    margin-top: 20px;
 }
 
 .video-summary h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
    position: sticky;
    top: 0;
    background: #f9f9f9;
    padding: 10px 0;
 }
 
 .video-summary p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
 }
 
 .video-summary h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #444;
 }
 
 .video-summary div {
    margin-bottom: 15px;
 }
 
 .Toastify__toast-container {
    z-index: 9999;
 }
 
 @media (max-width: 768px) {
    .video-details {
        flex-direction: column;
        padding: 10px;
    }
 
    .video-left {
        margin-right: 0;
        margin-bottom: 20px;
    }
 
    .video-right {
        max-width: 100%;
        padding-left: 0;
        height: 50vh;
    }
 
    .video-details h1 {
        font-size: 1.5rem;
    }
 
    .video-details video {
        max-width: 100%;
        max-height: 400px;
    }
 }