*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

label {
  font-size:20px;
}

html,
body{
  background-color: #b5c4f2;
  height: 100%;
  width: 100%
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;      /* Ensure it is a block-level element */
  margin: 0 auto;      /* Center it horizontally */
  width: 250px;        /* Set a specific width for the logo */
  height: auto;        /* Maintain the aspect ratio */
}

.container{
  background-color: #d5dc11;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px #a826aa;
}

.container > h1{
  margin-bottom: 20px;
  color:#160c27;
  font-family: PT Serif, sans-serif;
  font-weight:600;
}

.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
  font-family: sans-serif;
}

button{
  background-color: #392759;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

